<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-7level %d{ISO8601} [%t] %logger{1.} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="org.hibernate.SQL" level="INFO"/>
        <Logger name="org.hibernate.type" level="INFO"/>
        <Logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener" level="WARN"/>
        <Logger name="oracle.jdbc" level="ALL"/>
        <Logger name="oracle.ucp" level="ALL"/>
        <Logger name="org.eclipse.jetty" level="INFO"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>